{% extends 'base.html' %}

{% block head %}{% include 'django_quill/media.html' %}{% endblock %}
{% block title %} Add About {% endblock %}
{% block add_about_active %} active {% endblock add_about_active %}

{% block css %}
{% endblock %}
{% block body %}
<form action="/add_about/" enctype="multipart/form-data" method="POST"> {% csrf_token %}
<div class="container mt-4">
{{ form.as_p }}
{% comment %} {{ form.content}} {% endcomment %}
<button class="btn btn-primary">Add About</button>
</div>
</form>
{% endblock %}
{% block js %}
{% comment %} <script>
    {% if alert %}
    alert('Your Blog is added successfully.');
    document.location = '/';
    {% endif %}
</script> {% endcomment %}
{% endblock %}


